<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Comentarios</h1>
    </header>
    <ul>
        <a href='/' id="addStudent">+ Temas</a>
        <a href='/<%=nombre%>/new-comment' id="addStudent">+ Agregar comentario</a>
        <% for(let i=0; i<comentarios.length; i++){ %>
            <li>
                <span>Usuario: <%=comentarios[i].usuario%></span>
                <span><%=comentarios[i].mensaje%></span>
                <a href="/<%=comentarios[i].tema.nombre%>/new-comment" id="addStudent">+ Agregar comentario</a> 
            </li>
        <% } %>
    </ul>   
</body>
</html>